@charset "ISO-8859-1";



#ctatitle{
	font-family: 'Alegreya';
font-style: italic;
font-weight: 500;
font-size: 20px;
line-height: 27px;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#ctacontent{
	font-family: 'Alegreya';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
#ctasquare{
	display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
gap: 5px;



background: rgba(32, 32, 32, 0.8);
border-radius: 10px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

#ctasection{
	display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 10px;
gap: 10px;


/* shadow */

filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.75));

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

body {
  padding-top: 60px;
}

nav
{
overflow: auto;
}

#bgtitle{

font-family: 'Old Standard TT';
font-style: normal;
font-weight: 400;
text-align: center;
align-items: center;
font-size: calc((1.6*1.375rem) + 3vw);

/* Main */

color: #FFFFFF;

/* shadow */

text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.75);

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
#bgsubtitle{
	
	
font-size: 1.75rem;
font-family: 'Old Standard TT';
font-style: normal;
font-weight: 400;
display: flex;
align-items: center;
text-align: center;

/* Main */

color: #FFFFFF;

/* shadow */

text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.75);

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}


ul {
    display: flex;
    align-items: center;
}
#background{
	display: flex;
flex-direction: column;
align-items: center;
padding: 50px 10px;
gap: 25px;


background: url(images/test.jpg);

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
align-content: center;
flex-wrap: wrap;
}
#subtitle{
	width: 258px;
height: 22px;

font-family: 'Old Standard TT';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

/* Main */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
#title{
width: 176px;
height: 44px;

font-family: 'Old Standard TT';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

/* Main */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: -10px 0px;
}

@font-face {
  font-family: 'Old Standard TT';
  src: url('/fonts/OldStandardTT-Regular.woff2') format('woff2');
}

.navbar-brand{
	font-family: Old Standard TT;
}

.navbar-brand-title {
  font-size: larger;
  font-weight: bold;
}

.navbar-brand-subtitle {
  font-size: smaller;
  font-style: italic;
  color: gray;
}

@media (min-width: 980px) {

}