<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<html>

<head>



</link>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
	integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
</link>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
</link>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<link th:href="@{/font/OldStandardTT-Regular.woff2}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/contact.css}">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Evann Hall - Full Stack Developer and Designer - Contact</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="#"> <span
			class="navbar-brand-title h2" id="title">Evann Hall</span> <br>
			<span class="navbar-brand-subtitle h3" id="subtitle">Full
				Stack Developer and Designer</span>
		</a>
		<button class="navbar-toggler" type="button"
			data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
			aria-controls="offcanvasDarkNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1"
			id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Evann
					Hall - Full Stack Development/Design</h5>
				<button type="button" class="btn-close btn-close-white"
					data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<ul class="navbar-nav justify-content-end flex-grow-1 me-3 pe-3 gap-2">
					<li class="nav-item"><a class="nav-link"
						aria-current="page" href="home">Home</a></li>
					<li class="nav-item"><a class="nav-link active" href="contact">Contact</a></li>
					</form>
			</div>
		</div>
	</div>
</nav>

	<div class="btxt">
		<div class="wbg title">
			<div class="sectionsubtitle">
				<div class="sectionsection">
					<div class="titletext">Contact</div>
				<hr class="line">
			</div>
		</div>
	</div>
yo
</body>
</html>