<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<html>

<head>



</link>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
	integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
</link>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
</link>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<link th:href="@{/font/OldStandardTT-Regular.woff2}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/contact.css}">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Evann Hall - Full Stack Developer and Designer - Contact</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-theme fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"> <span
				class="navbar-brand-title h2" id="title">Evann Hall</span> <br>
				<span class="navbar-brand-subtitle h3" id="subtitle">Full
					Stack Developer and Designer</span>
			</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
				aria-controls="offcanvasDarkNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="offcanvas offcanvas-end text-bg-theme" tabindex="-1"
				id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
				<div class="offcanvas-header">
					<h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Evann
						Hall - Full Stack Development/Design</h5>
					<button type="button" class="btn-close btn-close-white"
						data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<ul
						class="navbar-nav justify-content-end flex-grow-1 me-3 pe-3 gap-2">
						<li class="nav-item"><a class="nav-link" aria-current="page"
							href="home">Home</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="contact">Contact</a></li>
						<li class="nav-item"><a class="nav-link" href="/pdf/evann_hall_resume.pdf">Resume</a></li>	
						</form>
				</div>
			</div>
		</div>
	</nav>

	<div class="btxt">
		<div class="wbg title">
			<div class="sectionsubtitle">
				<div class="sectionsection mb-3">
					<div class="titletext">Contact</div>
					<div class="subtitletext h5 mx-3">Have any questions? Fill
						out the form below and I'll be sure to get back to you as soon as
						possible!</div>
				</div>
			</div>
		</div>

		<div class="contact-page-container">

			<div class="contact-form-container m-lg-5 m-3 my-5">
				<form method="post" action="/message">
					<div class="contact-form-top">
						<div class="mb-3 contact-section">
							<label for="inputName" class="form-label contact-form-label fs-4">Name</label>
							<input type="text" name="name" class="form-control"
								id="inputName">
						</div>
						<div class="mb-3 contact-section">
							<label for="inputEmail"
								class="form-label contact-form-label fs-4">Email address</label>
							<input type="email" name="email" class="form-control"
								id="inputEmail" aria-describedby="emailHelp">
							<div id="emailHelp" class="form-text">We'll never share
								your information with anyone else.</div>
						</div>
					</div>
					<div class="mb-3">
						<label for="inputText" class="form-label contact-form-label fs-4">Your
							Message</label>
						<textarea class="form-control" name="message" id="inputText"
							rows="3"></textarea>
					</div>

					<div class="my-3"></div>
					<button type="submit" class="btn btn-primary fs-4 mt-3">Submit</button>
				</form>


			</div>
			<div class="contact-aboutme-container"></div>
		</div>


	</div>
	<footer class="footer bg-theme p-3">

		<div class="footer-holder flex-md-row mt-lg-3 mt-lg-4 mt-1 gap-4 gap-lg-1">
			<div class="footer-section flex-fill">
				<a class="navbar-brand" href="#"> <span
					class="navbar-brand-title h2" id="title">Evann Hall</span> <br>
					<span class="navbar-brand-subtitle h3" id="subtitle">Full
						Stack Developer and Designer</span>
				</a>
			</div>
			<div class="footer-section flex-fill">
				<div class="footer-section-title h2">Social</div>
				<div class="footer-section-content d-flex flex-column">
					<a class="footer-section-link" href="https://github.com/halle15" >GitHub</a> <a
						class="footer-section-link" href="https://www.linkedin.com/in/evann-h-11a285212/">LinkedIn</a>
				</div>
			</div>
			<div class="footer-section flex-fill">
				<div class="footer-section-title h2">General</div>
				<div class="footer-section-content d-flex flex-column">
					<a class="footer-section-link" href="/" >Home</a> <a
						class="footer-section-link" href="/contact">Contact</a> <a
						class="footer-section-link" href="/tos">Terms of Service</a> <a
						class="footer-section-link" href="privacy">Privacy Policy</a>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>