<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<html>

<head>



</link>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
	integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
</link>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
</link>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<link th:href="@{/font/OldStandardTT-Regular.woff2}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/index.css}">

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Evann Hall - Full Stack Developer and Designer - Home</title>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="#"> <span class="navbar-brand-title h2"
			id="title">Evann Hall</span> <br> <span
			class="navbar-brand-subtitle h3" id="subtitle">Full Stack
				Developer and Designer</span>
		</a>
		<button class="navbar-toggler" type="button"
			data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
			aria-controls="offcanvasDarkNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1"
			id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark
					offcanvas</h5>
				<button type="button" class="btn-close btn-close-white"
					data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"> Dropdown </a>
						<ul class="dropdown-menu dropdown-menu-dark">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="#">Something else
									here</a></li>
						</ul></li>
				</ul>
				<form class="d-flex mt-3" role="search">
					<input class="form-control me-2" type="search" placeholder="Search"
						aria-label="Search">
					<button class="btn btn-success" type="submit">Search</button>
				</form>
			</div>
		</div>
	</div>
</nav>

<body>





	<div id="background">
		<h1 id=bgtitle>Full Stack Development and Design</h1>
		<p class="h5" id=bgsubtitle>Evann has the skills and tools needed
			to get your job done.
		</h2>

		<div id="ctasection">
			<div id="ctasquare">
				<h1 id="ctatitle">I'm Evann, Full Stack Developer & Designer</h2>
				<div id="ctacontent" class="h5">I’ve been on this journey for more than
					five years. I’ve been lucky to work with incredibly talented people
					across multiple industries to confidently and efficiently solve
					their problems. Interested in how? Keep reading or check out my
					blog!</div>
				<div id="frameholder">
					<button id="cta">
						<div id="ctatext">Contact</div>
					</button>
				</div>
			</div>
		</div>



	</div>
	<div class="sectiontitle dbg">
		<div class="sectionsubtitle">
			<div class="sectionsection">
				<div class="titletext">Why Evann?</div>
				<div class="subtitletext">How I can get it done...</div>
			</div>
			<hr id="whyline">
		</div>
	</div>

	<div class="whyframe dbg">
		<div class="whyholder flex-lg-row">
			<div class="whysection flex-fill">
				<div class="whyimageblock img-fluid flex-fill">
					<img class="whyimage" src="css/images/phone.svg">
				</div>
				<div class="whysectiontext">
					<div class="whysectiontitle h1">Mobile Friendly Design</div>
					<div class="whysectionsubtitle h4">Mobile First design is a
						necessity in our modern world, and Evann is equipped with the
						knowledge to get it done.</div>
					<div></div>
				</div>
			</div>
			<div class="whysection flex-fill">
				<div class="whyimageblock img-fluid flex-fill">
					<img class="whyimage" id="clock" src="css/images/clock.svg">
				</div>
				<div class="whysectiontext">
					<div class="whysectiontitle h1">Rapid & Responsive Apps</div>
					<div class="whysectionsubtitle h4">Nobody is a fan of slow or poorly functioning applications, and Evann provides the skillset to fix and prevent this.</div>
					<div></div>
				</div>
			</div>
			<div class="whysection flex-fill">
				<div class="whyimageblock img-fluid flex-fill">
					<img class="whyimage" id="chart" src="css/images/chart.svg">
				</div>
				<div class="whysectiontext">
					<div class="whysectiontitle h1">Expand Your Outreach</div>
					<div class="whysectionsubtitle h4">Small business owners have enough to deal with, and Evann is ready to help your new or existing small business expand its web presence.</div>
					<div></div>
				</div>
			</div>

		</div>
	</div>
	
	<div class="btxt">
	<div class="wbg sectiontitle">
		<div class="sectionsubtitle">
			<div class="sectionsection">
				<div class="titletext">Featured Work</div>
				<div class="subtitletext">Past projects I've worked on...</div>
			</div>
			<hr class="line">
		</div>
	</div>
	</div>
</body>

</html>
